<main>
    <div class="image-container"><img
            src="/assets/peach.jpg"
            alt="tomatoes"
        /></div>
    <div class="container">
        <h1>Are you <span>sure?</span></h1>
        <p>This will delete your entire profile and your signature.</p>
        <form id="delete" action="/delete-account" method="post">
            <button>Yes, delete my account</button>
        </form>
        <p><a href="javascript:history.back()">Cancel</a></p>
    </div>
</main>