<main>
    <div class="image-container"><img
            src="/assets/avocado.jpg"
            alt="avocado"
        /></div>
    <div class="container">
        <h1>Just as <span>tasty.</span></h1>
        <p>Welcome back!</p>
        Thanks for joining our movement to bring imperfect fruit and vegetables
        to supermarket shelves and stop unnecessary food waste.
        <p>Please login below:</p>
        <p class="error">{{error.message}}</p>
        <form method="post" id="form">
            <div class="name-field">
                <label for="email">Your email:</label>
                <input type="email" value="" name="email" id="email" />
                <label for="password">Your password:</label>
                <input
                    type="password"
                    value=""
                    name="password"
                    id="password"
                /></div>
            <input id="submit" type="submit" value="Login" />
        </form>
        <ul class="footer">
            <li>I don't have a login yet, take me to the
                <a href="./registration">registration</a>
                page.</li></ul>
    </div>
</main>