<div class="container">
    <h1>Sign my petition</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ex, aperiam
        quibusdam, iusto magnam inventore incidunt aliquam nostrum quisquam
        aspernatur, facere numquam accusantium vitae recusandae? Accusantium
        error cupiditate minima aspernatur?</p>
    <p class="error">{{error.message}}</p>
    <form method="post" id="form">
        <div class="name-field">
            <label for="first">First name:</label>
            <input type="text" value="" name="first" id="first" />
            <label for="last">Last name:</label>
            <input type="text" value="" name="last" id="last" /></div>
        <div class="sign-canvas">
            <canvas id="canvas"></canvas>
            <input type="hidden" id="signature" name="signature" value="" />
            <label id="sign-above" for="signature">Please sign above</label>
        </div>
        <button id="clear-signature">Clear signature</button>
        <input id="submit" type="submit" value="Sign!" />
    </form>
</div>