<main>
    <div class="image-container"><img
            src="/assets/tomato.jpg"
            alt="tomato"
        /></div>
    <div class="container">
        <h1>Sign our <span>petition.</span></h1>
        <p class="confirmation">{{confirmation}}</p>
        <p>Join the movement to bring imperfect fruit and vegetables to
            supermarket shelves and stop unnecessary food waste!
        </p>
        <p class="error">{{error.message}}</p>
        <form method="post" id="form">

            <div class="sign-canvas">
                <label id="signature-label" for="signature">Please sign below</label>
                <canvas id="canvas"></canvas>
                <input type="hidden" id="signature" name="signature" value="" />

            </div>
            <button id="clear-signature">Clear signature</button>
            <p></p>
            <input id="submit" type="submit" value="Sign the petition" />
        </form>

        <ul class="footer">
            <li><a href="./edit-profile">Edit profile</a></li><li><a
                    href="./logout"
                >Logout</a></li>
        </ul>
    </div>
</main>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>
<script src="script.js"></script>