<main>
    <div class="image-container"><img
            src="/assets/paprika.jpg"
            alt="paprika"
        /></div>
    <div class="container">
        <h1>Thanks, <span>{{firstName}}!</span></h1>
        <p>Your signature means we are one step closer to persuading
            supermarkets that ugly fruit and vegetables are just as tasty.</p>
        <img
            src="{{signature}}"
            id="canvas-signed"
            alt="here is your signature"
        />
        <a id="signers-count" href="signers">See all {{count}} signers</a>

        <form action="/signature-delete" method="post">
            <button>Delete signature</button>
        </form>

        <ul class="footer">
            <li><a href="./edit-profile">Edit profile</a></li>
            <li><a href="./logout">Logout</a></li>
            <li>
                <form
                    id="delete-account"
                    action="/delete-account"
                    method="post"
                >
                    <button>Delete my account</button>
                </form></li>
        </ul>
    </div>
</main>