<div class="container">
    <h1>Thank you for signing!</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At ex, aperiam
        quibusdam, iusto magnam inventore incidunt aliquam nostrum quisquam
        aspernatur, facere numquam accusantium vitae recusandae? Accusantium
        error cupiditate minima aspernatur?</p>
    <img src="{{signature}}" id="canvas-signed" alt="here is your signature" />
    <a id="signers-count" href="signers">See all {{count}} signers</a>
</div>